@import url("https://fonts.googleapis.com/css?family=Nunito");

@keyframes radio-select {
  0% {transform: scale(0);}
  50% {transform: scale(1.7);}
  100% {transform: scale(1);}
}

@font-face {
  font-family: glyph;
  src: url(resources/gglyph.ttf);
}

@font-face {
  font-family: glyph-outline;
  src: url(resources/gglyphoutline.ttf);
}

.glyph-full {
  font-family: glyph;
}

.glyph-outline {
  font-family: glyph-outline;
}



mobile-app {
  aspect-ratio: 28 / 53;
  overflow-x: hidden;
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}

desktop-app {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

info, view.hiddenview, .hidden {
  display: none !important;
}



body, html {
  background-color: #13171B;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}

div.post {
  padding: 4px 5px;
  margin-bottom: 10px;
  border-top: 1px solid #222931;
  border-bottom: 1px solid #222931;
  border-radius: 12px;
  background-color: #171A1f;
}

.diff {
  background-color: #282828 !important;
  margin: 0 !important;
}

div.post.diff {
  border: none !important;
  border-radius: 0 !important;
  padding-top: 0 !important;
}

img.image, video.video {
  max-width: calc(100% + 10px);
  min-width: calc(100% + 10px);
  margin: 0 -5px;
}

img.phpfp {
  max-width: 40px;
  max-height: 40px;
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
}

div.profheader {
  padding-top: 4px;
}

p.phname {
  font-size: 18px;
  cursor: pointer;
}

p.phuprofile, p.desctitle {
  font-size: 13px;
}

p.desc, p.phuprofile, p.artist, p.voteamount, button.votebtn {
  color: #B1B1B1;
}

p.desctitle {
  color: #7B7B7B;
}

p.phname, p.phuprofile {
  margin: 0;
}

p.desc, p.desctitle, p.artist, p.content, p.title, p.votetitle {
  margin: 0;
  clear: left;
}

p.content {
  font-size: 18px;
}

p.title, p.votetitle {
  font-weight: 600;
  font-size: 19px;
}

p.title {
  text-align: center;
}

p.votetitle {
  margin-left: 6px;
}

div.posttoolbar {
  height: 28px;
  padding-top: 4px;
  padding-left: 10px;
}

svg.favs {
  float: left;
  margin-right: 10px;
}

p.favcount {
  margin: 0;
  width: 100px;
  line-height: 28px;
}

div.btncontainer {
  width: 110px;
  height: 100%;
  margin: 0;
  float: left;
  border-radius: 5px;
  cursor: pointer;
}

p.favcontainer {
  color: #E70303;
}

p.svgcontainer {
  float: left;
  margin: 0;
  font-size: 28px;
  margin-right: 10px;
}

div.header {
  position: sticky;
  height: 60px;
  background-color: #1B2024;
  z-index: 9999;
  width: 100%;
  top: 0;
  font-size: 24px;
  padding: 0 25px;
}

div.header p {
  margin: 0;
  margin-left: 60px;
  line-height: 60px;
}

#sidemenusvg, #backsvg {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

#appheader {
  float: left;
}

#postsvg {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0;
  width: 60px;
  text-align: center;
  transform: translate(-110px, -50%);
  cursor: pointer;
}

.svgext {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0;
  text-align: center;
  width: 60px;
  transform: translate(-65px, -50%);
  cursor: pointer;
}

#custombtnsvg {
  width: max-content;
  text-align: right;
  font-size: 18px;
}

div.postview {
  position: absolute;
  top: 60px;
  width: 100%;
}

desktop-app#loadlayer {
  background-image: url("resources/app_logo_tiled.png");
}

div#logincontent {
  position: absolute;
  top: 70px;
}

view#docload {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  padding: 5px;
}

view#docload p {
  margin: 0;
}

view#docload img {
  position: absolute;
  bottom: 40px;
  height: 40px;
  left: 50%;
  transform: translate(-50%, 0);
}



div.poll {
  background-color: #13171B;
  padding: 4px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0 -5px;
  width: calc(100% + 2px);
}

div.polloption {
  cursor: pointer;
	transition: background-color .1s linear;
  border-radius: 8px;
}

div.polloption:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

p.votepct {
  display: block;
  margin: 0;
  text-align: center;
  transform: translate(calc(-50% + 23px));
}

div.voteopt {
  position: relative;
  width: 18px;
  height: 18px;
  border: 2px solid #B1B1B1;
  border-radius: 50%;
  float: left;
  margin-top: 7px;
  margin-left: 10px;
  margin-right: 14px;
}

div.voteopt.active {
  border: 2px solid #CFB640;
}

div.voteopt.multi {
  border-radius: 4px;
}

div.voteoptin {
  width: 12px;
  height: 12px;
  background-color: #B1B1B1;
  border-radius: 50%;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  position: absolute;
	transition: transform .1s linear;
  transform: scale(0);
}

div.voteoptin:not(.disabled) {
  background-color: #CFB640;
  transform: scale(1);
}

div.voteoptin.multi {
  width: 8px;
  height: 8px;
  border: 2px solid #CFB640;
  border-radius: 0;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
}

p.vote {
  margin: 0;
}

p.vote.discovered {
  transform: translate(0, -19px);
}

progress.voteprgs {
  transform: translate(0, -15px);
  width: calc(100% - 58px) !important;
}

progress {
  border-radius: 7px;
  height: 5px;
  width: 100%;
}

progress::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 7px;
}

progress::-webkit-progress-value {
  background-color: #CFB640;
  border-radius: 7px;
  transition: width 0.8s ease;
}

hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

button.votebtn {
  margin-top: 12px;
  border: none;
  border-radius: 5px;
  background-color: #2E2E2E;
  width: 100%;
  padding: 12px 0;
  cursor: pointer;
	transition: background-color .1s linear;
}

button.votebtn:hover {
  background-color: #353535;
}



img.cmtpfp {
  max-width: 30px;
  max-height: 30px;
  float: left;
  margin-right: 8px;
  border-radius: 8px;
  cursor: pointer;
}

p.cmtname {
  position: relative;
  width: fit-content;
  line-height: 30px;
  margin: 0;
  margin-top: 8px;
  margin-left: 38px;
  font-weight: 600;
  cursor: pointer;
}

div#commentsection {
  padding: 4px 5px;
  padding-top: 0;
  background-color: #171b20;
  height: calc(100% - 124px);
}

p.cmttext {
  margin: 0;
  margin-top: 5px;
  margin-left: 8px;
}

div.comment {
  border-top: 1px solid #1c2126;
  border-bottom: 1px solid #1c2126;
  padding: 5px 0;
  margin-bottom: 3px;
  border: 1px solid rgb(61, 59, 40);
  border-radius: 4px;
}

svg.cmts {
  float: left;
  margin-right: 5px;
}

p.cmtcontainer {
  margin: 0;
  line-height: 28px;
  float: left;
  cursor: pointer;
  margin-right: 10px;
  color: #9F9B0D;
}

p.cmtcontainer.liked {
  color: #D9D104;
}

p.cmtreplies {
  color: rgb(37, 153, 207);
  font-weight: 600;
  float: right;
  line-height: 28px;
  margin: 0;
  cursor: pointer;
  margin-right: 10px;
}

p.cmtreplicon {
  font-weight: 600;
  float: right;
  line-height: 28px;
  margin: 0;
  cursor: pointer;
}



img.dp_background {
  width: calc(100% - 2px);
  height: 35%;
  margin-left: 1px;
  object-fit: cover;
  cursor: pointer;
}

img.dp_foreground {
  aspect-ratio: 1 / 1;
  max-width: 30%;
  min-width: 30%;
  object-fit: cover;
  border-radius: 25px;
  position: relative;
  left: calc(50% - 30px);
  transform: translate(-50%, -70%);
  cursor: pointer;
}

svg.profsvgs {
  position: absolute;
  top: 35%;
  left: 0;
  transform: translate(0, -50%);
  pointer-events: none;
}

p.dp_name {
  text-align: center;
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  margin-top: -90px;
}

div.dp_info {
  text-align: center;
  float: left;
  width: 33.33%;
}

p.dp_count {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 0;
}

p.dp_header {
  color: #7c7c7c;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
}

svg.dp_svgs {
  float: left;
  margin: 10px 13px;
  margin-top: 0;
  transform: translate(0, 2.5px);
}

svg.dp_tsvgs {
  float: left;
  transform: translate(0, 2.5px);
  margin-left: 10px;
  cursor: pointer;
}

p.dp_member {
  color: #7c7c7c;
  font-weight: 600;
}



view#docimage {
  background-color: #13171B;
  width: 100%;
  height: 100%;
}

img.fullimage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



div.selectionbar {
  color: #babbbc;
  overflow: hidden;
  white-space: nowrap;
}

p.selection {
  cursor: pointer;
  font-weight: 600;
  padding: 15px;
  width: min-content;
  margin: 0;
  display: inline-block;
}

p.selection.active {
  color: #ceb642;
  border-bottom: 2px solid #ceb642;
}



div#sidemenu {
  aspect-ratio: 28 / 65;
  z-index: 10000;
  position: absolute;
  left: -100%;
  top: 0;
  height: 100%;
  overflow: hidden;
  background-color: #13171B;
  font-family: Arial, Helvetica, sans-serif;
  display: block !important;
  transition: left 1s;
}

div#sidemenu:not(.gone) {
  transition: left 0.4s;
  left: 0;
}

div#sidemenu hr {
  width: calc(100% + 60px);
  transform: translate(-30px, 0);
}

img.smbg {
  position: relative;
  top: 0;
  left: 0;
  height: 20%;
  width: 100%;
  object-fit: cover;
  opacity: 0.7;
  cursor: pointer;
} 

img.smfg {
  aspect-ratio: 1 / 1;
  max-height: 13%;
  min-height: 13%;
  position: absolute;
  top: 8%;
  left: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  cursor: pointer;
}

p.smname {
  position: absolute;
  top: calc(14.5% + 12.5px);
  margin: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  line-height: 25px;
  font-weight: 600;
  font-size: 18px;
}

div.coverall, div.coverall2 {
  position: absolute;
  opacity: 0.5;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

div.smcontent {
  padding-left: 30px;
  padding-right: 5px;
}

div.smcontent p {
  line-height: 30px;
  margin: 0;
}

div.smcontent div.sm_div {
  margin: 3px;
  line-height: 30px;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}

div.smcontent div.sm_div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

div.smcontent div.sm_div.sm_active {
  background-color: #ceb641;
  color: #13171B;
  font-weight: 600;
}

.sm_icon {
  font-size: 24px;
  float: left;
  margin: 0;
  margin-right: 35px !important;
  font-weight: 500;
}

img.sm_icon {
  width: 24px;
  height: 24px;
  position: relative;
  top: 15px;
  transform: translate(0, -50%);
}

div.switchcon {
  height: 30px;
  margin: 10px;
  margin-left: 0;
  cursor: pointer;
}

div.sm_switch {
  margin-left: 13px;
}

p.switchtext {
  margin: 0;
  line-height: 30px;
  float: left;
}



.switch {
  float: right;
  width: 30px;
  border-radius: 30px;
  height: 15px;
  background-color: #5E5E5E;
  margin-top: 7.5px;
  position: relative;
}

.switch.active {
  background-color: #776A2B;
}

.innerswitch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #323232;
  transform: translate(-2.5px, -2.5px);
}

.innerswitch.active {
  background-color: #CAB240;
  transform: translate(12.5px, -2.5px);
}



div.dc_div {
  text-align: center;
}

p.dc_text {
  color: #E1E1E1;
}

div.dc_category {
  padding: 8px;
  border: 1px solid #222931;
  border-radius: 12px;
  background-color: #171A1f;
  margin-bottom: 20px;
}

p.dc_header {
  text-align: left;
  margin: 0;
  color: #CEB642;
  font-size: 18px;
  font-weight: 600;
}

button.dc_btn {
  background-color: #D9980D;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 35px;
  margin: 6px 0;
  font-family: "Nunito", sans-serif;
  color: white;
  position: relative;
  cursor: pointer;
}

button.dc_btn .glyph-full {
  position: absolute;
  left: 0;
  font-size: 23px;
  margin-left: 4px;
  transform: translate(0, -3.75px);
}



#pc_story {
  padding: 5px;
  width: calc(100% - 10px);
}

input[type=text].input, textarea.input {
  border: 1px solid rgb(160, 160, 160);
  border-radius: 4px;
  background-color: transparent;
  padding: 15px;
  margin: 2px 0;
  font-size: 15px;
  width: calc(100% - 30px);
  color: white;
  caret-color: rgb(255, 220, 43);
  font-family: sans-serif;
  resize: none;
  height: fit-content;
}

input[type=text].input:focus, textarea.input:focus {
  border: 1px solid rgb(206, 182, 66);
  outline: none;
}

input[type=text].input::selection, textarea.input::selection {
  background-color: rgba(206, 182, 66, 0.4);
}

textarea#pc_content {
  height: 20vh;
}

p.inputoptional, p.inputcounter {
  color: rgb(161, 162, 164);
  font-size: 12px;
  float: left;
  margin: 4px;
}

p.inputcounter {
  float: right;
}

p.pc_small {
  clear: left;
}

p.pc_small span {
  margin: 4px;
}

a.policy {
  color: rgb(37, 153, 207);
  text-decoration: none;
  font-weight: 600;
}

a.policy.nsfw {
  color: rgb(207, 37, 37);
}

p.pc_header {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

p.pc_sub {
  margin: 0;
  color: rgb(177, 177, 177);
  font-weight: 600;
}

p.pc_text {
  margin: 0;
  font-size: 12px;
}

p.pc_sfwdesc {
  color: rgb(177, 177, 177);
}

p.pc_gray {
  color: rgb(177, 177, 177);
  margin: 0;
}

p.pc_dark {
  color: #7B7B7B;
}

p.catpicker {
  background-color: rgb(23, 27, 32);
  padding: 10px 15px;
  text-align: center;
  margin-top: 5px;
  border-radius: 4px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  line-height: 22px;
  cursor: pointer;
}

p.catpicker span {
  font-size: 22px;
  color: rgb(177, 177, 177);
  float: right;
}

div.pc_radio {
  width: 33.33%;
  float: left;
  height: 40px;
}

div.pc_radio:hover {
  background-color: transparent;
}

div.pc_radio div.voteopt {
  margin-left: 5px;
}

div.pc_radio p.vote {
  line-height: 40px;
}

p#pc_c_tags {
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
  margin-right: 10px;
}



div#pc_select {
  font-size: 18px;
  position: absolute;
  max-width: 90%;
  padding: 0 5%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10000;
  background-color: rgb(21, 24, 22);
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

p.pc_s_header {
  font-weight: 600;
}

p.pc_s_quota {
  font-size: 12px;
  line-height: 18px;
  float: right;
}

div.pc_s_item {
  margin: 0 5%;
  width: 40%;
  float: left;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
}

div.pc_s_item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

div.pc_s_item p span.glyph-full {
  font-size: 24px;
  margin-right: 10px;
  color: rgb(133, 196, 221);
}



div#commentmsg {
  width: calc(100% - 20px);
  height: 50px;
  overflow: hidden;
  background-color: rgb(29, 29, 29);
  position: sticky;
  bottom: 0;
  left: 0;
  padding: 10px;
}

img#commentpfp {
  margin: 5px;
  max-width: 40px;
  max-height: 40px;
  object-fit: cover;
  border-radius: 50%;
  float: left;
}

input[type=text].simpleinput, textarea.simpleinput {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(206, 182, 66);
  font-family: sans-serif;
  resize: none;
}

textarea.simpleinput#commentin {
  font-size: 20px;
  height: 26px;
  width: calc(100% - 110px);
  margin-top: 14px;
  outline: none;
  color: white;
}

p#commentadd {
  margin: 5px;
  color: rgb(206, 182, 66);
  font-size: 40px;
  float: right;
  cursor: pointer;
}